body{
    background: linear-gradient(176deg,rgb(243,130,239,100%),rgb(251,202,242,100%),white);
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
}

header{
    width: 100vw;
    height: 5vw;
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
@media all and (max-width: 900px) {
    header{
        width: 100vw;
        height: 10vw;
    }
}

#cartimg{
    height: 70px;
    position: relative;
    top: 10px;
    left: 10px;
}
@media all and (max-width: 900px) {
    #cartimg{
        position: absolute;
        left: 20px;
        top: 10px;
        height: 45px;
    }
}

header>nav>ol{
    list-style-type: none;
    display:flex;
}
header>nav{
    position: absolute;
    right: 0;
    top: 0;
}

header>nav>ol>li{
    margin: 5px 50px;
    font-size: 23px;
    font-weight: bold;
    position: relative;
    bottom: 3px;
}
@media all and (max-width: 900px) {
    header>nav>ol>li{
        position: relative;
        bottom: 3px;
        font-size: 15px;
        font-weight: bold;
    }
}

li>img{
    height: 50px;
    margin: 1px 10px;
    position: relative;
}
@media all and (max-width: 900px) {
    li>img{
        height: 30px;
    }
}

li>button{
    font-weight: bold;
    width: 150px;
    border-radius: 20px;
    position: relative;
    bottom: 20px;
    background-color: white;
}
@media all and (max-width: 900px) {
    li>button{
        border-radius: 5px;
        position: relative;
        bottom: 10px;
        width: 10vw;

    }
}

