body {
    margin: 0;
    overflow-x: hidden;
}

#menu-section {
    /*background-color: #F5F5F5;*/
    /*border: 2px solid red;*/

    padding: 10vh 13.33vw 50px 13.33vw;
    height: 95vh;
    width: 100vw;
    top: 60px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0 0 10vh 0;

    background: url("../assets/images/img.png");
    background-repeat: round;
    background-blend-mode: darken;
    background-attachment: fixed;
    /*background-image: ;*/
}

.left_container {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    /* border: 2px solid blue; */
    height: 89%;
    width: 75%;
    position: relative;
    border-radius: 125px;
    box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.5);
}

.left_container img {
    padding: 0;
    height: 115%;
    border-radius: 20px;
}

.right_container {
    /*border: 1px solid gold;*/
    height: 90%;
    width: 20%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.right_container .btnList {
    width: 100%;
    height: 100%;
    /*border: 2px solid black;*/
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.btnList div {
    background-color: white;
    box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.5);
    width: 248px;
    height: 211px;
    /* border: 2px solid black; */
    border-radius: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-shadow: 2px 10px 10px rgba(0, 0, 0, 0.5);
    color: black;
    font-size: 30px;
    cursor: pointer;
}


.right_container img {
    height: 77%;
}

#title {
    font-size: 150px;
    color: #000000;

    text-shadow: 2px 10px 10px rgba(0, 0, 0, 0.5);

}

.content-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*background-color: #FDFDFD;*/
    top: 92px;
    padding-top: 0;
    margin: 0 10.33vw 0 10.33vw;
    height: 87vh;
    border-radius: 32px;
}
#manage_customer{
    background: url("../assets/images/img1.png");
    background-repeat: round;
    background-blend-mode: darken;
    background-attachment: fixed;
    /*background-color: #ECF2FF;*/
}

.container {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.title {
    padding: 10px 10px 10px 84px;
    /*border: 2px solid black;*/
    font-size: 50px;
    color: black;
    margin-top: 20px;
}

.left_sub_container {
    padding: 0;
    border-radius: 24px;
    font-size: 19px;
    align-self: center;
    /*border: 2px solid black;*/
    width: 35%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.5);
    background-color: white;
}

.left_sub_container h2 {
    font-size: 35px;
}

.description_form {

    padding: 5px 0 0 0;
    width: 100%;
    height: 75%;
    color: black;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.description_form input {
    height: 50px;
}

.form-group {
    margin: 10px;
    width: 73%;
    align-self: center;
}

.right_sub_container {
    padding: 0 10px;

    box-shadow: 0 0 17px rgba(0, 0, 0, 0.5);
    background-color: white;

    border-radius: 24px;
    font-size: 20px;
    align-self: center;
    /*border: 2px solid black;*/
    width: 60%;
    height: 95%;
    display: flex;
    flex-direction: column;
}

table {
    /*border: 2px solid black;*/
    margin: 14px 0;
}

.btn_div {
    margin: 0 10px 0 10px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.search_section {
    margin: 10px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    align-items: flex-end;
}


#btn_delete_customer, #item_delete {
    background-color: #E90064;
}

#btn_update_customer, #item_update {
    background-color: forestgreen;
}
 .clear{
     width: 15%;
 }




